<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="../../public/css/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="p-2 mb-4 bg-light">
        <nav class=" mb-2 navbar sticky-top navbar-expand-lg">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="#">Home</a>
                  <a class="nav-link active" href="#">Dashboard</a>
                  <a class="nav-link active" href="#">Login</a>
                  <a class="nav-link active">Logout</a>
                </div>
              </div>
            </div>
        </nav>
        <h1><span class="badge bg-secondary">The Tech Blog</span></h1>
    </div>
    <div>
        <div class="mx-5">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Why MVC is so important</h5>
                </div>
                <div class="card-body">
                  <p class="card-text">MVC allows developers to mantain a true separation of concerns, devising their code between the model layer for data, the view layer for design and the controller layer for application logic.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>